.chirp-form {
	background: #ffffff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.chirp-form label {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.chirp-form input {
	font-family: "Mulish", sans-serif;

	font-style: normal;
	font-weight: normal;
	width: 100%;
	border: none;
	margin-left: 10px;
}

.chirp-form textarea::placeholder {
	color: #666e75;
}

.chirp-form textarea {
	resize: none;
	font-family: "Mulish", sans-serif;

	font-style: normal;
	font-weight: normal;
	width: 100%;
	border: none;
	margin-left: 10px;
}

.chirp-form input::placeholder {
	color: #bbc8d4;
}

.chirp-form button {
	align-self: flex-end;
}
